# Core dependencies
torch>=2.0
torchvision
lightning>=2.0
lightning-bolts
timm>=1.0
datasets
einops
hydra-core
omegaconf
torchmetrics
wandb
setuptools<82.0
huggingface_hub

# Required for LoRA adapter
peft

# Required for Adapter+ adapter
adapter_plus
